<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${session.loginId}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        a {
            color: #000;
            text-decoration: none;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<div id="memberPage" style="width: 460px; margin: 100px auto; text-align: center">
        <button class="form-control" onclick="updateFn()">
            <a href="/member/update">정보수정</a>
        </button>
</div>
</body>
<script th:inline="javascript">
    const updateFn = () => {
        const sessionId = [[${session.loginId}]];
        if (sessionId == null) {
            alert("로그인 후 이용해주세요.")
            location.href = "/member/login";
        } else {
            return true;
        }
    }
</script>
</html>