<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book : 회원관리</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        table, th, td {
            border: 1px solid #bcbcbc;
        }

        table {
            width: 600px;
            height: 200px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 200px;
        }

        tr, td {
            text-align: center;
        }
    </style>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<table>
  <tr>
    <th>회원번호</th>
    <th>아이디</th>
    <th>가입날짜</th>
  </tr>
    <tr th:each="member: ${memberList}">
        <td th:text="${member.id}"></td>
        <td>
            <a th:text="${member.memberId}" th:href="@{|/member/${member.id}|}"></a>
        </td>
        <td th:text="*{#temporals.format(member.memberCreatedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
</table>
</body>
</html>